<html>
  <head>
    <title>{{title}}</title>
    <style>
      #forkme { position: absolute; top: 0; right: 0; border: 0; }
      #embed  { font-family: Courier New, monospace; font-size: 10pt; margin-left: 12px; }
    </style>
  </head>
  <body>
    <a href="https://github.com/earldouglas/scalave">
      <img id="forkme" src="forkme.png" alt="fork me">
    </a>
    <h1>{{title}}</h1>
    <div id="scalave"></div>
    <script src="//scalave.herokuapp.com/scalave.js"></script>
    <p>
      To embed Scalave on your site, add the following snippet:
    </p>
    <div id="embed">
      &lt;div id="scalave"&gt;&lt;/div&gt;<br />
      &lt;script src="//scalave.herokuapp.com/scalave.js"&gt;&lt;/script&gt;
    </div>
  </body>
</head>
