<html>
  <head>
    <title>{{title}}</title>
    <style>
      body { max-width: 84ex; margin: 1em auto; padding: 1em; }
      #logo { margin: .67em 0 }
    </style>
  </head>
  <body>
    <img id="logo" src="scalave.png" alt="scalave">
    <script rows="8" cols="72" src="scalave.js">

      object Maths {
        def add(a: Int, b: Int): Int = a + b
      }

      val x = 11
      val y = 31

      Maths.add(x, y)

    </script>
    <p>
      To embed Scalave on your site, add the following snippet:
    </p>
    <pre>
      &lt;script src="https://earldouglas.com/projects/scalave/scalave.js"&gt;&lt;/script&gt;
    </pre>
    <p>
      To provide default Scala code, simply include it within the
      <tt>script</tt> element:
    </p>
    <pre>
      &lt;script rows="8" cols="72" src="https://earldouglas.com/scalave/scalave.js"&gt;

        object Maths {
          def add(a: Int, b: Int): Int = a + b
        }

        val x = 11
        val y = 31

        Maths.add(x, y)

      &lt;/script&gt;
    </pre>
  </body>
</head>
